mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.full-width{
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.botao {
  margin-right: 10px; /* Adiciona 10 pixels de espaço à direita de cada botão */
}



