
<mat-card class = "upload">
  <mat-card-content>
    <mat-toolbar color="primary">Insira seu Currículo</mat-toolbar>
    <div class="file-field input-field">
      <div class="btn">
        <span>Escolher</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" accept="application/pdf" type="text" placeholder="Arquivo .pdf">
      </div>
    </div>
    <button (click)="onProc()" class="btn waves-effect waves-light"
      type="submit" name="action" >Processar
     </button>
  </mat-card-content>

</mat-card>
